@charset "utf-8";

*{
    padding: 0px;
    margin: 0px;
}
li{
    list-style-type: none;
}
body{
    min-width: 1080px;
    background: #eee;
    font-family: 'Helvetica Neue', Helvetica, 'Lucida Grande', Arial, 'Hiragino Sans GB', '微软雅黑', 'WenQuanYi Micro Hei', STHeiti, SimSun, sans-serif;
}
.container{
    width: 1060px;
    margin: auto;
    padding: 20px 0;
}
.sidebar{
    float: left;
    background: #29B6F6;
    width: 300px;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
}
.main{
    float: left;
    width: 680px;
    background: #fff;
}
/* .container {
    position: relative;
    margin: 10px auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    width: 1060px;
   
    border-radius: 4px;
}

.sidebar{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 300px;
    padding: 15px 15px 10000px;
    background: #29B6F6;
    color: #fff;
    line-height: 1.5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: -10000px;
}
.main{
    position: relative;
    left: 300px;
    width: 720px;
    padding: 15px 20px 10000px;
    background: #fff;
    margin-bottom: -10000px;
} */
.title{
    text-align: center;
}
.title img{
    width: 120px;
    height: 120px;
}
h1{
    font-size: 28px;
    font-weight: normal;
}
h2{
    font-size: 14px;
}
h3,h4{
    font-weight: bold;
}
h4{
    line-height: 30px;
    font-size: 18px;
}
h3{
    color: #748aab;
    font-size: 19px;
}
.someRight dd{
    margin-left: 25px;
}
.side-info dt{
    font-size: 18px;
    line-height: 40px;
}
.side-info dd{
    font-size: 14px;
    line-height: 20px;
}
.side-info dd a{
    font-size: 14px;
    line-height: 20px;
    color:#fff;
    text-decoration: none;
}
.main{
    padding: 20px;
}
.main-info{
    margin-left: 20px;
}
.main-info dt{
    color: #29B6F6;
    border-bottom: 1px solid #29B6F6;
    font-size: 24px;
    line-height: 30px;
}
.main-info dd{
    font-size: 14px;
    color: #6e716f;
}
.main-info dd a{
    font-size: 14px;
    color: #6e716f;
    text-decoration: none;
}
.main-info dd span{
    color: black;
    font-size: 17px;
    margin-right: 5px;
}
.important{
    color:#f36795!important;
}
.circle{
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background: #29B6F6;
    float: left;
    margin-left: -8px;
}
.experice{
    border-left: 2px solid #29B6F6;
}
.experice li p{
    padding-left: 10px;
}
.experice p{
    font-size: 15px;
    color: #6e716f;
}
.experice a{
    font-size: 12px;
    border: 1px solid #f36795;
    padding: 1px 3px;
    border-radius: 5px;
    margin-left: 7px;
    text-decoration: none;
    color: #f36795;
}
@media(max-width:768px){
    h4{
        font-size: 0.25rem;
    }
    .experice p{
        font-size: 0.2rem;
    }
}